        /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
        /*
 *= require font-awesome
 */
        
        @import "bootstrap";
        body {
            background-color: black;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: white;
        }
        
        nav {
            border-radius: 10px;
        }
        
        .card {
            border-radius: 10px;
            background-color: #393534;
        }
        
        .card-text {
            color: white;
        }
        
        .field {
            color: white;
        }
        
        .card-title {
            color: white;
        }
        
        .form-label-group {
            color: white;
        }
        
        .apple_pagination {
            background: black;
            border: 1px black;
            text-align: center;
            padding: 1em;
            cursor: default;
            padding: 5%;
        }
        
        .apple_pagination a,
        .apple_pagination span {
            padding: 0.2em 0.3em;
        }
        
        .apple_pagination .disabled {
            color: #aaaaaa;
        }
        
        .apple_pagination .current {
            font-style: normal;
            font-weight: bold;
            background-color: #bebebe;
            display: inline-block;
            width: 1.4em;
            height: 1.4em;
            line-height: 1.5;
            -moz-border-radius: 1em;
            -webkit-border-radius: 1em;
            border-radius: 1em;
            text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
        }
        
        .apple_pagination a {
            text-decoration: none;
            color: blue;
        }
        
        .apple_pagination a:hover,
        .apple_pagination a:focus {
            text-decoration: underline;
        }
        
        .be-comment-block {
            margin-bottom: 50px !important;
            border: 1px solid #edeff2;
            border-radius: 2px;
            padding: 50px 70px;
            border: 1px solid #ffffff;
        }
        
        .comments-title {
            font-size: 16px;
            color: #262626;
            margin-bottom: 15px;
            font-family: 'Conv_helveticaneuecyr-bold';
        }
        
        .be-img-comment {
            width: 60px;
            height: 60px;
            float: left;
            margin-bottom: 15px;
        }
        
        .be-ava-comment {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        
        .be-comment-content {
            margin-left: 80px;
        }
        
        .be-comment-content span {
            display: inline-block;
            width: 49%;
            margin-bottom: 15px;
        }
        
        .be-comment-name {
            font-size: 13px;
            font-family: 'Conv_helveticaneuecyr-bold';
        }
        
        .be-comment-content a {
            color: #383b43;
        }
        
        .be-comment-content span {
            display: inline-block;
            width: 49%;
            margin-bottom: 15px;
        }
        
        .be-comment-time {
            text-align: right;
        }
        
        .be-comment-time {
            font-size: 11px;
            color: #b4b7c1;
        }
        
        .be-comment-text {
            font-size: 13px;
            line-height: 18px;
            color: #7a8192;
            display: block;
            background: #f6f6f7;
            border: 1px solid #edeff2;
            padding: 15px 20px 20px 20px;
        }
        
        .form-group.fl_icon .icon {
            position: absolute;
            top: 1px;
            left: 16px;
            width: 48px;
            height: 48px;
            background: #f6f6f7;
            color: #b5b8c2;
            text-align: center;
            line-height: 50px;
            -webkit-border-top-left-radius: 2px;
            -webkit-border-bottom-left-radius: 2px;
            -moz-border-radius-topleft: 2px;
            -moz-border-radius-bottomleft: 2px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        
        .form-group .form-input {
            font-size: 13px;
            line-height: 50px;
            font-weight: 400;
            color: #b4b7c1;
            width: 100%;
            height: 50px;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid #edeff2;
            border-radius: 3px;
        }
        
        .form-group.fl_icon .form-input {
            padding-left: 70px;
        }
        
        .form-group textarea.form-input {
            height: 150px;
        }