


<div class="card mx-auto " style="width: 50%;">
    <%= image_tag @image.picture.medium.url, class: 'card-img-top' %>
    <div class="card-body">
        <p class="card-text"><%= @image.description %></p>
  </div>
</div>